<div class="login-container">
<!--  Login header section-->
  <div class="login-header">
    <div class="login-header-component">
      <div class="login-header-component-image">
        <img src="/assets/images/ai-xazna-logo.svg" alt="logo">
      </div>
      <div class="login-header-component-text" >
        AI Xazna
      </div>
    </div>
  </div>
<!--  Login Form Section-->
  <div class="form-section">
    <div class="form-section-container">
      <div class="go-back-content">
        <div class="go-back-content-icon">
          <img src="/assets/icons/go-back-icon.svg" alt="arrowLeft">
        </div>
        <div class="go-back-content-text">
          Back Now
        </div>
      </div>
      <div class="main-form-content">
        <div class="main-form-content-head">
          <div class="main-form-content-head-header">
            Welcome Back!
          </div>
          <div class="main-form-content-head-text">
            Sign in to your account and join us
          </div>
        </div>
        <div class="main-form-content-body">
          <div class="main-form-content-body-email">
            <label class="main-form-content-body-email-label">Enter Your Email ID</label>
            <input class="main-form-content-body-email-input" type="email" placeholder="Enter Your Email...">
          </div>
          <div class="main-form-content-body-password">
            <label class="main-form-content-body-password-label">Enter Your Password</label>
            <input class="main-form-content-body-password-input" type="password" placeholder="Enter Your Password...">
          </div>
          <div class="main-form-content-body-resetPassword">
            <div class="main-form-content-body-resetPassword-text">
              Forget password
            </div>
          </div>
          <div class="main-form-content-body-SignUp">
            Don’t have an account? <a class="main-form-content-body-SignUp-link" href="#">Sign Up</a>
          </div>
          <div class="main-form-content-body-buttons">
            <button class="main-form-content-body-buttons-btn">
              Sign Up
            </button>
            <div class="main-form-content-body-buttons-excuse">
              <hr class="main-form-content-body-buttons-excuse-line">
              <div class="main-form-content-body-buttons-excuse-text">
                Or Continue
              </div>
              <hr class="main-form-content-body-buttons-excuse-line">
            </div>
            <div class="main-form-content-body-socials">
              <button class="main-form-content-body-socials-facebook">
                <img src="/assets/icons/social-media/facebook.svg" alt="facebook">
              </button>
              <button class="main-form-content-body-socials-instagram">
                <img src="/assets/icons/social-media/instagram.svg" alt="instagram">
              </button>
              <button class="main-form-content-body-socials-google">
                <img src="/assets/icons/social-media/google.svg" alt="google">
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="policy">
        <div class="policy-text text">
          Copyright ©2025 <a class="policy-text-link" href="#">AI Xazna</a>. All Rights Reserved
        </div>
      </div>

    </div>
  </div>
</div>
