<div class="translate-section">
  <div class="container flex flex-col">
    <!--Header start-->
    <div class="header-item">
      <div class="header-item-logo-section flex flex-row items-center justify-center p-3">
        <img src="/assets/images/ai-xazna-logo.svg" alt="logo">
        <h1 class="logo-header">{{"texttovoice.HELLO" | translate}}</h1>
      </div>
      <p class="logo-text">
        {{"texttovoice.QUESTION" | translate}}
      </p>
    </div>
    <!--Header End-->

    <!--Input and Selects start-->
    <div class="footer-item">
      <div class="search-box flex flex-col">
        <input type="text" placeholder="{{'texttovoice.PLACEHOLDER' | translate}}" (input)="onInputChange($event)"/>
        <div class="buttons mt-4">
          <div class="buttons-left ">
            <select>
              <option>Alisa</option>
            </select>
            <select>
              <option>Neytral</option>
            </select>
            <select>
              <option>O'zbekcha</option>
            </select>
            <select>
              <option>Stereo</option>
            </select>
            <select>
              <option>64k</option>
            </select>
            <select>
              <option>22050</option>
            </select>
            <select>
              <option>Waw</option>
            </select>
          </div>
          <div class="buttons-right">
            <button class="attach"></button>
            <button *ngIf="isActive" class="btn-middle"></button>
            <button class="send"
              [class.active]="isActive"
              [disabled]="!isActive">
            </button>
          </div>
        </div>
      </div>
    </div>
    <!--Input and Selects end-->
  </div>
</div>
