<div class="header-section">
  <div class="header-container flex justify-between">
    <div class="header-left-content flex flex-row items-center">
      <div class="header-left-content-image p-2">
        <img src="/assets/icons/header/rocket.svg" alt="roket">
      </div>
      <div class="header-left-content-items ">
        <div class="header-left-content-items-upgrade flex flex-row">
          <p class="upgrade">Upgrade</p>
          <img src="/assets/icons/header/arrowDown.svg" alt="arrowDownm">
        </div>
        <p class="header-left-content-items-version">
          2.1v Flash
        </p>
      </div>
    </div>
    <div class="header-right-content">
      <div class="header-right-content-buttons flex flex-row">
        <button class="flex flex-row items-center pr-4 language">
          <img class="pr-2" src="/assets/icons/header/flags.svg" alt="flag">
          <p class="pr-2 language-text">Ru</p>
          <img src="/assets/icons/header/arrowDown.svg" alt="arrow down">
        </button>
        <button class="pr-4 moon">
          <img src="/assets/icons/header/moon.svg" alt="moon">
        </button>
        <button>
          <img src="/assets/icons/header/profile.svg" alt="profile">
        </button>
      </div>
    </div>
  </div>
</div>
