<div class="header-section">
  <div class="header-container flex justify-between">
      <!-- Hamburger button -->
    <div class="header-left-content flex flex-row items-center">
      <button class="hamburger-btn" (click)="toggleSidebar()">
        <img src="/assets/icons/sidebar-icons/hamburger.svg" alt="menu" />
      </button>
      <button class="header-back-narrow">
        <img src="/assets/icons/sidebar-icons/back-draw-icon.svg" alt="back">
      </button>
      <div class="header-left-content-image p-1">
        <img src="/assets/icons/header/rocket.svg" alt="roket">
      </div>

      <div class="header-left-content-items">
        <!-- Upgrade button -->
        <div class="header-left-content-items-upgrade flex flex-row">
          <p class="upgrade">{{ 'UPGRADE' | translate }}</p>
          <img
            src="/assets/icons/header/arrowDown.svg"
            alt="arrowDown"
            class="arrow-icon"
          >
        </div>

        <!-- Selected version -->
        <p class="header-left-content-items-version">
          {{ selectedVersion.label }}
        </p>

        <!-- Dropdown menu -->
        <div class="dropdown-menu">
          <div
            class="dropdown-item"
            *ngFor="let v of versions"
            (click)="selectVersion(v)"
          >
            {{ v.label }}
          </div>
        </div>
      </div>
    </div>
    <div class="header-right-content">
      <div class="header-right-content-buttons flex flex-row">
        <div class="relative inline-block text-left pr-4">
          <!-- Language Button -->
          <button
            class="language-btn"
            (click)="toggleLanguage()"
          >
            <svg class="flag-icon" [icon]="selectedLanguage.icon"></svg>
            <p class="language-text">{{ selectedLanguage.value }}</p>
            <img
              class="arrow-icon"
              src="/assets/icons/header/arrowDown.svg"
              alt="arrow down"
            />
          </button>

          <!-- Dropdown Menu of languages-->
          <div
            class="language-dropdown"
            *ngIf="isLanguages"
          >
            <div
              class="language-item"
              *ngFor="let l of languages"
              (click)="selectLanguage(l)"
            >
              <svg class="flag-icon" [icon]="l.icon" ></svg>
              <span class="language-text">{{ l.value }}</span>
            </div>
          </div>

        </div>

        <button class="pr-4 moon">
          <img src="/assets/icons/header/moon.svg" alt="moon">
        </button>
        <button>
          <img src="/assets/icons/header/profile.svg" alt="profile">
        </button>
      </div>
    </div>
  </div>
</div>
