<div class="register-container">
<!--  Register header-->
  <div class="register-header">
    <div class="register-header-image">
      <img src="/assets/images/ai-xazna-logo.svg" alt="logo">
    </div>
    <div class="register-header-text">
      AI Xazna
    </div>
  </div>
<!--  Register body-->
  <div class="register-body mt-2">
    <div class="register-body-container">
      <div class="register-body-goBack">
        <div class="register-body-goBack-image">
          <img src="/assets/icons/go-back-icon.svg" alt="goback">
        </div>
        <div class="register-body-goBack-text">
          Back Now
        </div>
      </div>
      <div class="register-body-content">
        <div class="register-body-content-header">
          <div class="register-body-content-header-head">
            Let’s Get Started!
          </div>
          <div class="register-body-content-header-text">
            Please Enter your Email Address to Start your Online Application
          </div>
        </div>
        <div class="register-body-content-form">
          <div class="register-body-content-form-names">
            <div class="register-body-content-form-names-firstName">
              <label class="register-body-content-form-names-firstName-label">First Name</label>
              <input class="register-body-content-form-names-firstName-input" type="text" placeholder="Your First Name">
            </div>
            <div class="register-body-content-form-names-lastName">
              <label class="register-body-content-form-names-lastName-label">Last Name</label>
              <input class="register-body-content-form-names-lastName-input" type="text" placeholder="Your Last Name">
            </div>
          </div>
          <div class="register-body-content-form-email">
            <label class="register-body-content-form-email-label">Enter Your Email ID</label>
            <input class="register-body-content-form-email-input" type="email" placeholder="Your email ID here">
          </div>
          <div class="register-body-content-form-password">
            <label class="register-body-content-form-password-label">Password</label>
            <input class="register-body-content-form-password-input" type="email" placeholder="Enter password">
          </div>
          <div class="register-body-content-form-excuse">
            <div class="register-body-content-form-excuse-text">
              Have an accounts? <a class="register-body-content-form-excuse-link" href="#">Sign In</a>
            </div>
          </div>
          <div class="register-body-content-form-buttons">
            <button class="register-body-content-form-buttons-signUp">
              Sign Up
            </button>
            <div class="register-body-content-form-buttons-excuse">
              <hr class="register-body-content-form-buttons-excuse-line" />
              <div class="register-body-content-form-buttons-excuse-text">
                Or Continue
              </div>
              <hr class="register-body-content-form-buttons-excuse-line" />
            </div>
            <div class="register-body-content-form-buttons-socials">
              <button class="register-body-content-form-buttons-socials-facebook">
                <img src="/assets/icons/social-media/facebook.svg" alt="facebook">
              </button>
              <button class="register-body-content-form-buttons-socials-instagram">
                <img src="/assets/icons/social-media/instagram.svg" alt="instagram">
              </button>
              <button class="register-body-content-form-buttons-socials-google">
                <img src="/assets/icons/social-media/google.svg" alt="google">
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="register-body-policy">
        <div class="register-body-policy-text">
          Copyright ©2025 <a class="register-body-policy-link" href="#"> AI Xazna</a>. All Rights Reserved
        </div>
      </div>
    </div>
  </div>
</div>
