<div class="container ">
<!--  Chat bot before input send -->
  <ng-container *ngIf="!isStarted">
    <div class="logo">
      <img src="/assets/images/ai-xazna-logo.svg" alt="">
      <span>AI Xazna</span>
    </div>
    <p class="subtitle">{{ 'chatbot.HELLO' | translate }}</p>
  </ng-container>

  <!-- Chat response check -->
  <ng-container *ngIf="isStarted">
    <div class="chat-window">
      <div *ngFor="let msg of messages"
           class="chat-message"
           [ngClass]="msg.sender">

        <!-- Chatbot -->
        <ng-container *ngIf="msg.sender === 'bot'">
          <div class="avatar">
            <img src="/assets/images/ai-xazna-logo.svg" alt="AI Xazna">
          </div>
          <div class="message-content">
            <div class="message-header">
              <span class="sender-name">AI Xazna</span>
              <span class="message-time"></span>
            </div>
            <div class="message-text">
              {{ msg.text }}
            </div>
            <div class="bot-actions">
              <button title="Озвучить">
                <img src="/assets/icons/chat-bot-page-icons/volume.svg" alt="voice">
              </button>
              <button title="Лайк">
                <img src="/assets/icons/chat-bot-page-icons/like.svg" alt="like">
              </button>
              <button title="Дизлайк">
                <img src="/assets/icons/chat-bot-page-icons/dislike.svg" alt="dislike">
              </button>
              <button title="Копировать">
                <img src="/assets/icons/chat-bot-page-icons/copy.svg" alt="copy">
              </button>
              <button title="Повторить генерацию">
                <img src="/assets/icons/chat-bot-page-icons/regenerate.svg" alt="regenerate">
              </button>
              <button title="Поделиться">
                <img src="/assets/icons/chat-bot-page-icons/share.svg" alt="share">
              </button>
            </div>
          </div>
        </ng-container>

        <!-- Chat user -->
        <ng-container *ngIf="msg.sender === 'user'">
          <div class="message-content user-message">
            <div class="message-time"></div>
            <div class="message-text">
              {{ msg.text }}
            </div>
            <div class="user-actions">
              <button title="Изменить">
                <img src="/assets/icons/chat-bot-page-icons/edit.svg" alt="edit">
              </button>
              <button title="Копировать">
                <img src="/assets/icons/chat-bot-page-icons/copy.svg" alt="copy">
              </button>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </ng-container>
<!--  Buttons-->
  <div class="search-box flex flex-col">
    <input type="text" placeholder="{{ 'chatbot.PLACEHOLDER' | translate }}" (input)="onInputChange($event)" [value]="messageText"/>
    <div class="buttons mt-4">
      <div class="buttons-left ">
        <button class="attach flex flex-row items-center">
          <img src="/assets/icons/chat-bot-page-icons/attach.svg" alt="attach">
          <p class="items-text">{{ 'chatbot.ATTACH' | translate }}</p>
        </button>
        <button class="search flex flex-row items-center">
          <img src="/assets/icons/chat-bot-page-icons/search.svg" alt="search">
          <p class="items-text">{{ 'chatbot.SEARCH' | translate }}</p>
        </button>
      </div>
      <div class="buttons-right">
        <button class="voice flex flex-row items-center">
          <img src="/assets/icons/chat-bot-page-icons/voice.svg" alt="voice">
          <p class="items-text">{{ 'chatbot.VOICE' | translate }}</p>
        </button>
        <button
          class="send w-9 h-9"
          [class.active]="isActive"
          [disabled]="!isActive"
          (click)="sendMessage()"
        ></button>

      </div>
    </div>
  </div>
</div>
