.upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  font-family: Arial, sans-serif;
}

.upload-box {
  width: 80%;
  min-height: 224px;
  border: 2px dashed #d0d0ff;
  border-radius: 10px;
  background-color: #fafaff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  text-align: center;
  cursor: pointer;
}

.upload-box img {
  width: 40px;
  margin-bottom: 10px;
  opacity: 0.8;
}

.upload-box p {
  font-size: 18px;
  font-weight: 500;
  color: #373D4B;
  line-height: 120%;
  margin: 5px 0;

}

.upload-box span {
  color: var(--light-neutral);
  font-size: 12px;
}

.browse-btn {
  margin-top: 10px;
  padding: 6px 15px;
  border: 1px solid #4D6BFE;
  background: white;
  border-radius: 32px;
  color: #4D6BFE;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
}

.browse-btn:hover {
  background-color: #4D6BFE;
  color: white;
  font-weight: 500;
}

.result-box {
  width: 80%;
  min-height: 293px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  padding: 15px;
  font-size: 14px;
  background-color: white;
  color: gray;
}
.change-btn{
  width: 36px;
  height: 36px;
  border-radius: 50%;
  align-items: center;
  padding: 7px;
  border: 1px solid #4D6BFE3D;
}

@media (max-width: 1024px) {
  .upload-box {
    width: 95%;
  }
  .result-box{
    width: 95%;
  }
}
