.sidebar-section {
  border-right: 1px solid #62C06933;
  background-color: rgba(98, 192, 105, 0.05);
  width: 18rem;
  transition: width 0.25s ease;
}
.sidebar-section.collapsed {
  width: 6rem;
}
.sidebar-section-container{
  height: 100%;
  width: 100%;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sidebar-section-container.collapsed {
  display: block;
}
.sidebar-header-container{
  padding-top: 3vh;
  margin-bottom: 3vh;
}

.sidebar-header-logos-text{
  font-size: 24px;
  line-height: 120%;
  font-weight: 600;
  margin-right: 5rem;
  color: var(--light-neutral-700);
}
.sidebar-header-button{
  position: static;
  opacity: 1;
  transform: none;
  pointer-events: auto;
  border: 1px solid #4D6BFE33;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  transition: none;
}
.sidebar-section.collapsed .sidebar-header-logos {
  position: relative;
}

.sidebar-section.collapsed .sidebar-header-logos-image {
  transition: opacity 0.3s ease;
  z-index: 1;
}

/* Buttonni logoning ustiga yashirib turadi */
.sidebar-section.collapsed .sidebar-header-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
  z-index: 2;
}
/* Hover bo‘lganda logo yo‘qoladi va button chiqadi */
.sidebar-section.collapsed .sidebar-header-logos:hover .sidebar-header-logos-image {
  opacity: 0;
}
.sidebar-section.collapsed .sidebar-header-logos:hover .sidebar-header-button {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  pointer-events: auto;
}

.main-menu-list{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
}
.back-icon {
  margin: auto;
}
.menu-item{
  padding: 10px 5px;
  cursor: pointer;
  border:1px transparent solid;
  background: none;
  color:#434956;
  display: grid;
  grid-template-columns:16px 1fr max-content;
  grid-gap: 12px;
  font-weight: 400;
  line-height: 120%;
  font-size: 14px;
  align-items: center;
  width: 100%;
  text-align: left;
}
.router-link-active {
  background: #62C0691A;
  border: 1px solid #62C0693D;
  border-radius: 12px;
  font-weight: 500;
}
.list{
  margin: 0 2rem;
}
.sidebar-footer{
  margin-bottom: 1.2rem;
}
.sidebar-footer-container{
  display: flex;
  flex-direction: column;
  width: 91%;
  background: #ffffff;
  margin: 0 auto;
  border: 1px solid #62C06933;
  border-radius: 1rem;
  padding: 0 0 8px 15px;
}
.sidebar-footer-subtitle{
  display: flex;
  flex-direction: row;
}
.sidebar-content{
  min-height: 38rem;
}
.sidebar-footer-title{
  font-size: 14px;
  line-height: 130%;
  font-weight: 400;
  padding-top: 15px;

}
.sidebar-footer-subtitle{
  margin-top: 0.5rem;
  align-items: center;
}
.sidebar-footer-subtitle-text{
  font-size: 16px;
  font-weight: 600;
  line-height: 100%;
  margin-right: 0.3rem;
}


@media (max-width: 1024px) {
  .sidebar-section {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    transform: translateX(-100%);
    z-index: 1000;
    background: ghostwhite;
    transition: transform 0.7s ease;
  }
  .sidebar-section.mobile {
    width: 100%;
    transform: translateX(0);
  }
}
