<div class="sidebar-section bg-[#62C06933] h-screen">
  <div class="sidebar-section-container">
    <!--Sidebar header start-->
      <div class="sidebar-header">
        <div class="sidebar-header-container flex flex-row justify-around">
          <div class="sidebar-header-logos flex flex-row justify-center items-center">
            <div class="sidebar-header-logos-image mr-2">
              <img  src="/assets/images/ai-xazna-logo.svg" alt="logo">
            </div>
            <p class="sidebar-header-logos-text">
              AI Xazna
            </p>
          </div>
          <button class="sidebar-header-button"><img class="m-auto" src="/assets/icons/sidebar-icons/back-draw-icon.svg" alt="goBack"></button>
        </div>
      </div>
    <!--  Sidebar header end-->

    <!--  Sidebar content start-->
    <nav>
      <ul class="main-menu-list">
        @for (menuItem of menuItems; track $index) {
          <li class="list">
            <a [routerLink]="menuItem.path" class="menu-item" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{ exact: true }">
              <svg class="svgs w-5 h-5" [icon]="menuItem.icon"></svg>
              <span>{{menuItem.label}}</span>
            </a>
          </li>

        }
      </ul>
    </nav>
      <div class="sidebar-footer flex justify-center mt-28">
        <div class="sidebar-footer-container">
          <p class="sidebar-footer-title">Ваш баланс</p>
          <div class="sidebar-footer-subtitle">
            <strong class="sidebar-footer-subtitle-text">3 800 510</strong> <p>сум</p>
          </div>
        </div>
      </div>
  </div>
</div>
