<div class="sidebar-section bg-[#62C06933] h-screen">
  <div class="sidebar-section-container">
    <!--Sidebar header start-->
      <div class="sidebar-header">
        <div class="sidebar-header-container flex flex-row justify-around">
          <div class="sidebar-header-logos flex flex-row justify-center items-center">
            <div class="sidebar-header-logos-image mr-2">
              <img  src="/assets/images/ai-xazna-logo.svg" alt="logo">
            </div>
            <p class="sidebar-header-logos-text">
              AI Xazna
            </p>
          </div>
          <button class="sidebar-header-button"><img class="m-auto" src="/assets/icons/sidebar-icons/back-draw-icon.svg" alt="goBack"></button>
        </div>
      </div>
    <!--  Sidebar header end-->

    <!--  Sidebar content start-->
      <div class="w-full p-4 sidebar-content">
        <ul class="flex flex-col items-start w-full space-y-2">
          <li class="flex items-center w-full px-3 py-2 rounded-xl hover:bg-[#E9F6ED] cursor-pointer">
            <img src="/assets/icons/sidebar-icons/robot.svg" class="w-5 h-5 mr-3" alt="robot">
            <a href="#" class="text-[#434956] text-sm">Bosh sahifa</a>
          </li>
          <li class="flex items-center w-full px-3 py-2 rounded-xl bg-[#62C0691A]  cursor-pointer">
            <img src="/assets/icons/sidebar-icons/chat.svg" class="w-5 h-5 mr-3" alt="chat">
            <a href="#" class="text-[#434956] font-medium text-sm">Chat bot</a>
          </li>
          <li class="flex items-center w-full px-3 py-2 rounded-xl list-none hover:bg-[#E9F6ED] cursor-pointer">
            <img src="/assets/icons/sidebar-icons/voiceToText.svg" class="w-5 h-5 mr-3" alt="voice">
            <a href="#" class="text-[#434956] text-sm ">Nutqdan matnga o‘girish</a>
          </li>
          <li class="flex items-center w-full px-3 py-2 rounded-xl hover:bg-[#E9F6ED] cursor-pointer">
            <img src="/assets/icons/sidebar-icons/textToVoice.svg" class="w-5 h-5 mr-3" alt="textToVoice">
            <a href="#" class="text-[#434956] text-sm">Matndan nutqqa o‘girish</a>
          </li>
          <li class="flex items-center w-full px-3 py-2 rounded-xl hover:bg-[#E9F6ED] cursor-pointer">
            <img src="/assets/icons/sidebar-icons/microphone.svg" class="w-5 h-5 mr-3" alt="microphone">
            <a href="#" class="text-[#434956] text-sm">Ovozli identifikatsiya</a>
          </li>
          <li class="flex items-center w-full px-3 py-2 rounded-xl hover:bg-[#E9F6ED] cursor-pointer">
            <img src="/assets/icons/sidebar-icons/protocol.svg" class="w-5 h-5 mr-3" alt="protocol">
            <a href="#" class="text-[#434956] text-sm">Protokol</a>
          </li>
          <li class="flex items-center w-full px-3 py-2 rounded-xl hover:bg-[#E9F6ED] cursor-pointer">
            <img src="/assets/icons/sidebar-icons/balance.svg" class="w-5 h-5 mr-3" alt="balance">
            <a href="#" class="text-[#434956] text-sm">Balans</a>
          </li>
          <li class="flex items-center w-full px-3 py-2 rounded-xl hover:bg-[#E9F6ED] cursor-pointer ">
            <img src="/assets/icons/sidebar-icons/support.svg" class="w-5 h-5 mr-3" alt="support">
            <a href="#" class="text-[#434956] text-sm">Support</a>
          </li>
          <li class="flex items-center w-full px-3 py-2 rounded-xl hover:bg-[#E9F6ED] cursor-pointer">
            <img src="/assets/icons/sidebar-icons/custom.svg" class="w-5 h-5 mr-3" alt="custom">
            <a href="#" class="text-[#434956] text-sm">Custom Bots</a>
          </li>
          <li class="flex items-center w-full px-3 py-2 rounded-xl hover:bg-[#E9F6ED] cursor-pointer">
            <img src="/assets/icons/sidebar-icons/settings.svg" class="w-5 h-5 mr-3" alt="settings">
            <a href="#" class="text-[#434956] text-sm">Settings</a>
          </li>
        </ul>
      </div>

      <div class="sidebar-footer flex justify-center">
        <div class="sidebar-footer-container">
          <p class="sidebar-footer-title">Ваш баланс</p>
          <div class="sidebar-footer-subtitle">
            <strong class="sidebar-footer-subtitle-text">3 800 510</strong> <p>сум</p>
          </div>
        </div>
      </div>
  </div>
</div>
